/* variables */

$base-font-family: Arial, sans-serif;
$special-font-family: Georgia, serif;

/* Colors */
$base-color: #fff;

$low-contrast-color: #eee;
$medium-contrast-color: #ccc;
$high-contrast-color: #333;

$accent-color: #00ccff;

$base-font-color: $high-contrast-color;

$link-default-color: $base-font-color;
$link-hover-color: $accent-color;

/* Meassurements */
$content-width: 75em; // 1200px

/* Breakpoints - should be adjusted to fit content, not devices. */
$l-width: 64em; // 1024 px
$m-width: 48em; // 768 px
$s-width: 30em; // 480 px
